body {
	font: normal .8em/1.5em "Trebuchet MS", Arial, Helvetica, sans-serif;
	background: #ebebeb;
	width: auto;
	margin: 20px 20px 20px 20px;
	color: #666;
}
strong  {
	font: bold 1.1em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #444;
}
strong.help  {
	text-decoration: underline;
	color: #444;
	cursor: help;
}
h1 {
	font: normal 2.5em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
}
a {
	color: #333;
}
p {
	padding: 0 0 0 20px;
}
p.update {
	margin: 0 0 0 20px;
	padding: 0 0 0 0;
	text-align: right;
	color: #fc0000;
}
p a {
	font: bold 1.1em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #6699ff;
}
p cite{
	padding: 0 0 0 30px;
	font-weight: bold;
	color: #444;
}
html[xmlns] #nav {
	display: block;
}
* html {
	height: 1%;
}
